.template {

    margin-top:10px;
    display: block;
}

.signature {
    margin-top:10px;
    display: none;
}
.container {
    padding : 10px;
    background: #FFFEFC;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.header {
    font-size: 23px;
    font-weight: 600;
    margin-top : 10px;
    margin-bottom: 20px;
}
.title {
    font-weight: 600;
    font-size: 15px; 
    margin-left: 22px;
    margin-bottom: 5px;
}
.svgTrash {
    vertical-align: middle;
    width: 20px;
    margin-left: 8px;
}
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
  font-size: 15px;
  padding: 0 13px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top : 15px;
  width: 100px;
}

.button-74:hover {
  background-color: #FFFEFC;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
  }
}

body {
    margin : 0px;
    background-color: #FFFEFC;
}


html {
    width: 780px;
    height: 500px;
}


[contentEditable=true]:empty:before{
    content:attr(data-text)
}

.btnContainer {
    display: flex;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
.result {
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding : 6px;
}

.resultContainer {
    border-color: #422800!important;
    box-shadow: #422800 4px 4px 0 0;
    border : 2px solid #422800;
    margin-right: auto;
    margin-left: auto;
    display: none;
    margin-top : 15px;
    width: 700px;
    min-height: 90px;
    margin-bottom : 20px;
}

.textarea {
    width : 700px;
    height: 200px;
    overflow : auto;
    min-height: 90px;
    padding : 6px;
    min-width: 200px;
    background: white!important;
    border-color: #422800!important;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
/*
[contenteditable]:focus {
    outline: 3px solid #422800;
}*/

[contenteditable] {
    outline: 2px solid #422800;
    box-shadow: #422800 4px 4px 0 0;
}

.switch {
    font-size: 17px;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: background-color 250ms;
    white-space: nowrap;
    font-weight: 600;
    width: 50%;
}

.switchHighlight {
    background-color: #fbeee0;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: left 125ms, width 125ms;
    width: 0;
    font-size: 17px;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 50%;
    font-weight: 600;
}
.groupSwitch {
    width: 100%;
    background-color: #FFFEFC;
    border: 0.125rem solid #422800;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: content-box;
    display: inline-flex;
    height: 1.5rem;
    position: relative;
    -moz-user-select: none;
    height: 33px;
    user-select: none;
}
.menu {
    width: 300px;
    margin-top: 20px;
    /* margin-right: auto; */
    /* margin-left: auto; */
}

.request {
    /* width: 80px; */
    /* height:35px; */
    background: white;
    padding: 10px;
    border: 2px solid #422800;
    border-radius: 20px 0 0 20px;
    margin-right:-10px;
    box-shadow: #422800 4px 4px 0 0;
    font-weight: 600;
    text-decoration: none;
    font-size:14px;
    text-align: center;
    line-height:1.4;
    /* padding-bottom: 7px; */
    margin-top: 6px;
}
/**

 Modern Browsers 
.textarea::placeholder {
    font-size: 1rem;
    color: #9c9c9c;
    font-family: 'Roboto', sans-serif;
}

WebKit, Edge /
textarea::-webkit-input-placeholder {
    font-size: 1rem;
    color: #9c9c9c;
    font-family: 'Roboto', sans-serif;
}

/ Firefox 4-18 /
textarea:-moz-placeholder {
    font-size: 1rem;
    color: #9c9c9c;
    font-family: 'Roboto', sans-serif;
}

/irefox 19+ *
textarea::-moz-placeholder {
    font-size: 1rem;
    color: #9c9c9c;
    font-family: 'Roboto', sans-serif;
}

/ IE 10-11 
textarea:-ms-input-placeholder {
    font-size: 1rem;
    color: #9c9c9c;
    font-family: 'Roboto', sans-serif;
}

/ Edge /
textarea::-ms-input-placeholder {
    font-size: 1rem;
    color: #9c9c9c;
    font-family: 'Roboto', sans-serif;
} */